body {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0;
    margin: 0;
}
header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
 header div{
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: end;
    gap: 20%;
    font-size: 20px;
    width: 33vw;
 }
 main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat( minmax(200px, 400px));
    margin-inline: 10vw;
 }
footer {
    display: flex;
    max-height: 5vh;
    justify-content: center;
    gap: 20px;
    background-color: black;
}
footer div {
    color: white;
    font-size: 30px;
}
i.fa-circle-xmark {
    color: red;
}
i.fa-circle-check {
    color: green;
}
i.fa-solid:not(.fa-arrow-right) {
    box-shadow: 1px 1px 1px 1px white,
                -1px -1px 1px 5px white;
    background-color: white;
    border-radius: 1px;
    text-shadow: 1px 1px 1px whitesmoke;
}