:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body{
  width: 100vw;
  padding: 0px;
  margin: 0px;
}
ul{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  height: 40px;
  width: 80vw;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}
li:hover {
  background-color: aqua;
  border-radius: 20px;
  padding: 0px 10px;
}